@charset "utf-8";

.container{
    width:max-content;
    margin:0 auto;
}

td:first-child{
    width:140px;
}

button{
    display: block;
    margin: 0 auto;
}

body{
    background-color: antiquewhite;
}