@charset "utf-8";


.section1>div{
    background-image:linear-gradient(0deg,rgb(230, 230, 230),white);
    border:rgb(220, 220, 220) 3px solid;
    padding:10px;
    margin:10px;
}

.self_intro{
    margin: 20px 0;
}