@charset "utf-8";

ul{
    list-style-type: none;
}

li{
    border:1px solid gray;
    background-color: cornsilk;
    border-radius: 5px;
    margin:5px;
    padding:5px;
    display: flex;
}

.min_img{
    width:100px;
    height:100px;
}